<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pyreplab.m3-prompt-only-pilot</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/caffeinate</string>
        <string>-ism</string>
        <string>__VENV_PYTHON__</string>
        <string>-m</string>
        <string>pyreplab_harness.m3_prompt_only_execution</string>
        <string>run</string>
        <string>--authorization-hash</string>
        <string>__AUTH_HASH__</string>
        <string>--authorization</string>
        <string>__AUTHORIZATION_JSON__</string>
        <string>--manifest</string>
        <string>__MANIFEST_JSON__</string>
        <string>--registry</string>
        <string>__REGISTRY_JSON__</string>
        <string>--local-preflight</string>
        <string>__LOCAL_PREFLIGHT_JSON__</string>
        <string>--remote-preflight</string>
        <string>__REMOTE_PREFLIGHT_JSON__</string>
        <string>--result</string>
        <string>__RESULT_JSONL__</string>
        <string>--host</string>
        <string>__HOST__</string>
        <string>--remote-project</string>
        <string>__REMOTE_PROJECT__</string>
        <string>--remote-run-root</string>
        <string>__REMOTE_RUN_ROOT__</string>
        <string>--remote-python</string>
        <string>python3</string>
        <string>--pi</string>
        <string>pi</string>
        <string>--provider</string>
        <string>__PROVIDER__</string>
        <string>--model</string>
        <string>__MODEL__</string>
        <string>--thinking</string>
        <string>off</string>
        <string>--unbrowser-binary</string>
        <string>__UNBROWSER_BINARY__</string>
        <string>--model-artifact</string>
        <string>__MODEL_ARTIFACT__</string>
        <string>--llama-server-binary</string>
        <string>__LLAMA_SERVER_BINARY__</string>
        <string>--endpoint-probe-receipt</string>
        <string>__ENDPOINT_PROBE_RECEIPT_JSON__</string>
        <string>--endpoint-probe-authorization</string>
        <string>__ENDPOINT_PROBE_AUTHORIZATION_JSON__</string>
        <string>--expected-endpoint-probe-authorization-hash</string>
        <string>__EXPECTED_PROBE_AUTH_HASH__</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__PROJECT_ROOT__</string>
    <key>StandardOutPath</key>
    <string>__LOG_PATH__</string>
    <key>StandardErrorPath</key>
    <string>__LOG_PATH__</string>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ProcessType</key>
    <string>Background</string>
    <key>LowPriorityIO</key>
    <false/>
    <key>AbandonProcessGroup</key>
    <false/>
</dict>
</plist>
